appdirs==1.4.4
asgiref==3.2.10
breadability==0.1.20
certifi==2024.8.30
chardet==3.0.4
click==8.1.7
colorama==0.4.6
distlib==0.3.8
dj-database-url==0.5.0
Django==3.1.1
docopt==0.6.2
filelock==3.16.1
gunicorn==20.0.4
idna==2.10
joblib==1.4.2
lxml==5.3.0
mysql-connector==2.2.9
nltk==3.9.1
pillow==10.4.0
psycopg2-binary==2.9.9
pycountry==24.6.1
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
pytz==2024.2
regex==2024.9.11
requests==2.24.0
setuptools==75.1.0
six==1.16.0
sqlparse==0.5.1
sumy==0.11.0
tqdm==4.66.5
urllib3==1.25.11
virtualenv==20.0.31
whitenoise==5.2.0
